.body {
    background-color: black;
    display: grid;

    grid-template-rows: 8cm, auto, 5cm;
    grid-template-areas: "nav"
        "main"
        "footer";
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: green;
    background-image: linear-gradient(to top, red 0%, blue 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.products {
    height: 100%;
    width: 75%;

    display: grid;
    grid-template-rows: 5fr 5fr;
    grid-template-columns: repeat(3, 3fr);
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-container-colum {
    display: flex;
    flex-direction: column;
}

.add-to-cart {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
    cursor: pointer;
}

.product-Images {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.desc p {
    text-align: center;
}

.desc h2 {
    font-family: 'Cinzel Decorative', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: red;
    -webkit-text-stroke: 0.5px burlywood;
}

.desc h3 {
    color: white;
}



